# Ignore node_modules
node_modules/

# Ignore logs
*.log
npm-debug.log*

# Ignore environment files
.env

# Cypress test output
cypress/screenshots/
cypress/videos/

# Cypress reports
cypress/reports/
cypress/reports/mochawesome/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore coverage reports (se estiver usando ferramentas de cobertura de código)
coverage/
nyc_output/

# Ignore editor-specific files
.idea/
.vscode/
*.swp
*.swo

# Ignore builds (caso haja algum processo de build)
dist/
build/

# Ignore lock files (opcional)
package-lock.json
yarn.lock